*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* align container */
.container_center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center_row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.align_left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

h1{
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 2px;
	color: dark;
}

p{
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 22px;
	margin: 2rem 0;
	color: black;
}

a{text-decoration: none;}



ul li {list-style: none;}



/*--Main area--*/
#main_area{
	width: 100%;
	height: 70vh;
	background:url(bg.jpg) ;
	background-position: center;
	background-size: cover;
}


#main_area nav{
	height: 10%;
	width: 80%;
}


nav.logo{
	color: darkgrey ;
}

nav a{
	color: lightyellow;
	margin: 0 20px;
}

nav a:hover {
	color: yellow;
}

.landing content{
	height: 90%;
	width: 80%;
}

.landing content .landing_info{
	width: 60%;
	height: 100%;
}


.landing_info h1{
	color: lightyellow;
}


.landing_info p{
	color: lightyellow;
	width: 60%;
}


.landing_info button{
	border: none;
	background: transparent;
	outline: none;
}


.landing_info button:active{
	transform: translateY(2px);
}


img{
	height: 30px;
}